html,body{
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-image: url("../images/ghana-houses.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#all-content{
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 25%;
    border-style: groove;
    background-color: rgb(172, 202, 228);
    height: 70%;
}
#input{
    display: flex;
    flex-direction: row;
    padding: 1.3%;
    margin: 1.2%;
}
#textfield{
    display: flex;
    flex-direction: column;
}
#output{
    font-weight: bolder;
}
#notes>img{
    width:25%;
    height: 5%;
    display: block;
}